.column1, .column2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column1, .column2, h2, footer p {
  margin: 1em;
  padding: 1em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

header {
  grid-area: header;
  background-color: rgb(29, 29, 29);
}
header img {
  height: 120px;
}

nav {
  grid-area: nav;
  background: rgb(229, 112, 231);
  background: -moz-linear-gradient(top, rgb(229, 112, 231) 20%, rgb(168, 73, 163) 60%);
  background: -webkit-linear-gradient(top, rgb(229, 112, 231) 20%, rgb(168, 73, 163) 60%);
  background: linear-gradient(to bottom, rgb(229, 112, 231) 20%, rgb(168, 73, 163) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e570e7", endColorstr="#a849a3",GradientType=0 );
  height: 50px;
}
nav .navMobile {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
  padding: 0.2em 0.2em;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  background-color: rgba(4, 2, 2, 0.3);
}

footer {
  clear: both;
  background: #ccc;
  color: #333;
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  grid-area: pie;
}
h2 {
  text-align: center;
}

.h3 h3 {
  font-size: 18px;
}

img {
  border-style: none;
}

button {
  font-family: inherit;
  font-size: 100%;
}

.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

.imgPrincipal {
  grid-area: img;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.imgPrincipal img {
  transition: all 0.3s ease;
}
.imgPrincipal img:hover {
  animation: fotograma 1s ease;
  animation-iteration-count: 3;
}

@keyframes fotograma {
  15% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  65% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.inicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr, 0.5fr, 1fr, 1fr, 0.5fr;
  grid-template-areas: "header header header" "nav nav nav" "column1 img column2" "column1 img column2" "pie pie pie";
}

.column1 p, .column2 p {
  animation-name: Animac;
  animation-duration: 6s;
}

@keyframes Animac {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
/*Inicio Con alcohol*/
.tragos {
  border: 1px solid #ddd;
  border-radius: 0.5em;
  margin: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.tragos img {
  width: 100%;
  max-height: 200px;
  padding: 1em;
  margin: 0 auto;
}

.galeria {
  padding: 0.5em;
  margin: 0.5em 2em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  grid-area: galeria;
}

.conAlcohol {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "galeria" "pie";
}

.arriba {
  text-decoration: none;
  font-weight: bold;
  margin: 1em;
  display: flex;
  align-items: flex-end;
}

.tragos h3 {
  margin: 1em 0;
  text-align: center;
}

.receta {
  margin: 2em;
  padding: 2em;
  background-color: rgba(255, 228, 225, 0.5);
  border: 1px solid #ddd;
  border-radius: 0.5em;
  box-sizing: border-box;
}

.receta ul {
  list-style: none;
  margin: 2em;
}

.receta img {
  width: 200px;
  height: 200px;
  display: flex;
  text-align: right;
}

/*fin con alcohol*/
/*Inicio sin alcohol*/
.licuados {
  background-image: url(../img/fondo-licuado.jpeg);
  grid-area: licuados;
}

.smoothies {
  background-image: url(../img/fondo-smoothie.jpeg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: smoothies;
}

.smoothies, .licuados {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0.5em;
}

.recetaLicuado {
  width: 400px;
  margin: 1em;
  padding: 1em;
  background-color: rgba(255, 248, 220, 0.5);
}

.recetaSmoothie {
  width: 400px;
  margin: 1em;
  padding: 1em;
  background-color: rgba(240, 255, 240, 0.5);
}

.licuados h2, .smoothies h2 {
  padding-top: 1.5em;
}

.smoothie, .licuados h3 {
  margin: 1.5em 0;
}

.sinAlcohol {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "licuados" "smoothies" "pie";
}

/*fin sin alcohol*/
/*Inicio cafe*/
.seccionCafe {
  background-color: rgba(255, 248, 220, 0.5);
  grid-area: seccionCafe;
}

.cafe-back {
  padding: 0.5em;
  text-align: center;
  max-height: 700px;
  max-width: 700px;
  margin: 0 auto;
}

.cafe {
  border: 1px solid #ddd;
  border-radius: 0.5em;
  margin: 1em 0;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
}
.cafe p {
  margin: 1.5em;
}
.cafe figure {
  margin: 1em;
  align-items: center;
}
.cafe figure img {
  width: 200px;
  height: 200px;
}

.cafe .preparacion h3 {
  color: saddlebrown;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 1em;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}

.cafe .preparacion h4 {
  color: chocolate;
  font-size: 1em;
  font-weight: 200;
}

.bebidasConCafe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "seccionCafe" "pie";
}

/*Fin cafe*/
/*inicio contacto*/
.imagenContacto {
  grid-area: imagenContacto;
}
.imagenContacto img {
  width: 350px;
  height: 300px;
  margin: 1em;
}
.imagenContacto p {
  margin-left: 1em;
}

.formulario {
  margin-top: 3em;
  display: flex;
  align-items: flex-end;
  grid-area: formulario;
}

.formulario label {
  vertical-align: top;
  width: 16%;
  display: flex;
}

.formulario input,
.formulario textarea {
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  width: 96%;
}

.formulario textarea {
  height: 10em;
  resize: none;
}

.formulario input[type=submit] {
  background-color: #6da9ed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1em;
  padding: 0.4em 0.2em;
  text-align: center;
  width: auto;
}

.formulario .acciones {
  text-align: center;
  padding-top: 2em;
}

.btn {
  background: rgb(206, 204, 206);
}

.acciones button:hover {
  background: rgb(168, 167, 167);
}

.seccionContacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header header" "nav nav" "imagenContacto formulario" "pie pie";
}

/*fin contacto*/
@media screen and (max-width: 550px) {
  .inicio {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr, 0.5fr, 1fr, 0.25fr, 1fr, 0.5fr;
    grid-template-areas: "header" "nav" "img" "column1" "column2" "pie";
  }
  .imgPrincipal img {
    height: 50%;
  }
  nav {
    height: 50%;
    background: white;
  }
  nav .navDesktop {
    display: none;
  }
  nav .navMobile {
    display: contents;
  }
  .imgPrincipal {
    margin: 0;
  }
  .galeria {
    flex-direction: column;
  }
  body {
    font-size: 14px;
  }
  .h3 h3 {
    font-size: 14px;
  }
  header img {
    height: 90px;
  }
  .offcanvas.offcanvas-end {
    width: 50%;
  }
  .navbar-toggler {
    font-size: 10px;
  }
  .cafe-back {
    width: 400px;
    font-size: 14px;
  }
  .cafe-back img {
    width: 100px;
    height: 100px;
  }
  .seccionContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "imagenContacto" "formulario" "pie";
  }
}

/*# sourceMappingURL=style.css.map */
