.formulario, .seccionContacto .columnContacto, .seccionCafe, .galeria, .column1, .column2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenContacto img, .imagenContacto, .cafe, .smoothies .recetaSmoothie, .licuados .recetaLicuado, .sinAlcohol h4, .sinAlcohol h3, .column1, .column2, h2, footer p, nav .navMobile {
  margin: 2vh;
  padding: 2vh;
}

.smoothies, .licuados {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  grid-area: header;
}
header img {
  height: 120px;
}

nav {
  grid-area: nav;
  background: rgb(229, 112, 231);
  background: -moz-linear-gradient(top, rgb(0, 0, 0) 20%, rgb(168, 73, 163) 60%);
  background: -webkit-linear-gradient(top, rgb(8, 8, 8) 20%, rgb(168, 73, 163) 60%);
  background: linear-gradient(to bottom, rgb(8, 8, 8) 20%, rgb(168, 73, 163) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e570e7", endColorstr="#a849a3",GradientType=0 );
  height: 50PX;
}
nav .navMobile {
  display: none;
  height: 50PX;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 1.2em;
  padding: 0.2em 0.2em;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  background-color: rgba(2, 2, 2, 0.1);
}

footer {
  clear: both;
  background: #ccc;
  color: #333;
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  height: 70PX;
  grid-area: pie;
}
h2 {
  text-align: center;
}

.h3 h3 {
  font-size: 18px;
}

img {
  border-style: none;
}

.column1 {
  grid-area: column1;
}

.column2 {
  grid-area: column2;
}

.imgPrincipal {
  grid-area: img;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.imgPrincipal div {
  height: calc(100vh - 50PX - 70PX);
}
.imgPrincipal div img {
  transition: all 0.3s ease;
}
.imgPrincipal div img:hover {
  animation: fotograma 1s ease;
  animation-iteration-count: 3;
}

@keyframes fotograma {
  15% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  65% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.inicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "nav nav nav" "column1 img column2" "column1 img column2" "pie pie pie";
}

.column1 p, .column2 p {
  animation-name: Animac;
  animation-duration: 6s;
}

@keyframes Animac {
  from {
    color: white;
  }
  to {
    color: black;
  }
}
.conAlcohol {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "galeria" "pie";
}

.galeria {
  padding: 0.5em;
  margin: 0.5em 2em;
  flex-wrap: wrap;
  grid-area: galeria;
}

.tragos {
  border: 1px solid #ddd;
  border-radius: 0.5em;
  margin: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.tragos img {
  width: 100%;
  max-height: 300px;
  padding: 1em;
  margin: 0 auto;
}
.tragos h3 {
  margin: 1em 0;
  text-align: center;
}
.tragos p {
  font-size: 12px;
}

.sinAlcohol h2 {
  padding-top: 1.5vh;
}
.sinAlcohol h3 {
  color: rgb(49, 38, 49);
  font-size: 4vh;
  border-bottom: 1px solid black;
}
.sinAlcohol h4 {
  color: rgb(117, 55, 114);
  font-size: 3vh;
  line-height: 1.2vh;
}

.licuados {
  background-image: url(../img/fondo-licuado.jpeg);
  padding: 0.5em;
  grid-area: licuados;
}
.licuados .recetaLicuado {
  background-color: rgba(255, 248, 220, 0.5);
  border-radius: 0.5em;
}
.licuados .recetaLicuado p {
  margin: 4vh;
  padding-left: 2vh;
  text-align: justify;
  font-size: 2.5vh;
}

.smoothies {
  background-image: url(../img/fondo-smoothie.jpeg);
  padding: 0.5em;
  grid-area: smoothies;
}
.smoothies .recetaSmoothie {
  background-color: rgba(255, 248, 220, 0.5);
  border-radius: 0.5em;
}
.smoothies .recetaSmoothie p {
  margin: 4vh;
  padding-left: 2vh;
  text-align: justify;
  font-size: 2.5vh;
}

.sinAlcohol {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "licuados" "smoothies" "pie";
}

.seccionCafe {
  background-color: rgba(255, 248, 220, 0.5);
  flex-direction: column;
  grid-area: seccionCafe;
}

.cafe-back {
  padding: 0.5em;
  text-align: center;
  max-height: 700px;
  max-width: 700px;
}

.cafe {
  border: 1px solid #ddd;
  border-radius: 0.5em;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  height: 550px;
}
.cafe p {
  margin: 1.5em;
}
.cafe figure {
  margin: 1em;
  align-items: center;
}
.cafe figure img {
  width: 200px;
  height: 200px;
}
.cafe h3 {
  color: saddlebrown;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 1em;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
}
.cafe h4 {
  color: chocolate;
  font-size: 1em;
  font-weight: 200;
}

.bebidasConCafe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "seccionCafe" "pie";
}

.seccionContacto {
  grid-area: seccionContacto;
}
.imagenContacto img {
  width: 450px;
  height: 400px;
}
.imagenContacto h2 {
  text-align: center;
}
.imagenContacto p {
  margin-left: 4vh;
}

.formulario {
  margin-top: 3em;
}
.formulario label {
  vertical-align: top;
}
.formulario textarea, .formulario input {
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  width: 96%;
}
.formulario textarea {
  height: 10em;
  resize: none;
}
.formulario input[type=submit] {
  background-color: #6da9ed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1em;
  padding: 0.4em 0.2em;
  text-align: center;
  width: auto;
}
.formulario .acciones {
  text-align: center;
  padding-top: 2em;
}
.formulario .acciones button:hover {
  background: rgb(168, 167, 167);
}

.btn {
  background: rgb(206, 204, 206);
}

.contacto {
  display: grid;
  grid-template-areas: "header" "nav" "seccionContacto" "pie";
}

@media screen and (max-width: 550px) {
  body {
    font-size: 14px;
  }
  .h3 h3 {
    font-size: 14px;
  }
  header img {
    height: 90px;
  }
  nav {
    height: 50%;
    background: white;
    margin: 2vh 0;
  }
  nav .navDesktop {
    display: none;
  }
  nav .navMobile {
    display: contents;
  }
  .offcanvas.offcanvas-end {
    width: 50%;
  }
  .navbar-toggler {
    font-size: 10px;
  }
  .inicio {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "img" "column1" "column2" "pie";
  }
  .imgPrincipal {
    margin: 0;
  }
  .imgPrincipal div {
    height: 50%;
  }
  .galeria {
    flex-direction: column;
  }
  .tragos {
    max-width: 200px;
    max-height: 350px;
  }
  .tragos img {
    max-height: 150px;
  }
  .tragos h3 {
    font-size: 12px;
  }
  .tragos p {
    font-size: 10px;
  }
  .arriba button {
    font-size: 10px;
  }
  .sinAlcohol h3 {
    font-size: 3vh;
  }
  .sinAlcohol h4 {
    font-size: 2vh;
    line-height: 1vh;
  }
  .sinAlcohol .recetaLicuado p {
    margin: 3vh;
    padding-left: 1vh;
    font-size: 1.75vh;
  }
  .sinAlcohol .recetaSmoothie p {
    margin: 3vh;
    padding-left: 1vh;
    font-size: 1.75vh;
  }
  .cafe-back {
    width: 400px;
    font-size: 14px;
  }
  .cafe-back img {
    width: 100px;
    height: 100px;
  }
  .columnContacto {
    flex-direction: column;
  }
  .imagenContacto img {
    width: 350px;
    height: 300px;
  }
  .imagenContacto h2 {
    text-align: center;
  }
  .formulario {
    height: 70%;
    align-items: center;
    margin: 3vh;
    padding: 2vh;
  }
}

/*# sourceMappingURL=style.css.map */
