.conAlcohol{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"header"
	"nav"
	"galeria"
	"pie";
}

.galeria{
	padding: 0.5em;
	margin: 0.5em 2em;
	@extend %displayFlex;
	flex-wrap: wrap;
	grid-area: galeria;
}

.tragos{
	
	border: 1px solid #ddd;
	border-radius: 0.5em;
	margin: 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
	img{
        width: 100%;
        max-height: 300px;
        padding: 1em;
        margin: 0 auto;
    }
    h3{
	margin: 1em 0;
	text-align: center;
    }
	p{
		font-size: 12px;
	}
}


