*{
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Quicksand', sans-serif;
}
header {
	background-color: rgb(29, 29, 29);
	display: flex;
	justify-content: center;
	grid-area: header;
    img{
	height: 120px;
    }
}
nav{
	grid-area: nav;
	background: rgb(229,112,231);
    background: -moz-linear-gradient(top, rgba(229,112,231,1) 20%, rgba(168,73,163,1) 60%);
    background: -webkit-linear-gradient(top, rgba(229,112,231,1) 20%,rgba(168,73,163,1) 60%);
    background: linear-gradient(to bottom, rgba(229,112,231,1) 20%,rgba(168,73,163,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 );	
    height: $alturaNav;
	.navMobile{
		display: none;
		height: $alturaNav;
		@extend %espacios;
	}

	ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0;
		li a{
		color: white;
		text-decoration: none;
		text-align: center;
		line-height: 50px;
		font-size: 1.2em;
		padding: 0.2em 0.2em;
		transition: all 0.3s ease;
		&:hover{
			background-color:rgba(2,2,2,0.1);
			}
		}
	}
}



footer{
	clear: both;
	background: $bg-footer;
	color: #333;
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
	height: $alturaFooter;
	grid-area: pie;
	p{
		@extend %espacios;
	}

}

h2{
	@extend %espacios;
	text-align: center;
}

.h3 h3{
	font-size: 18px;
}


img {
	border-style: none;
  }

.column1{
	grid-area: column1;
}

.column2{
	grid-area: column2;
}

.imgPrincipal{
	grid-area: img;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;
	
	div{
			height: calc(100vh - $alturaNav - $alturaFooter);
    	img{
			transition: all 0.3s ease;
			&:hover{
			animation:fotograma 1s ease;
			animation-iteration-count: 3;
			}
		}
	}	
}

@keyframes fotograma{
	15% {transform: rotate(25deg);}
	30% {transform: rotate(-25deg);}
	50% {transform: rotate(25deg);}
	65% {transform: rotate(-25deg);}
	80% {transform: rotate(30deg);}
	100% {transform: rotate(-20deg);}
}
	
.inicio{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	"header header header"
	"nav nav nav"
	"column1 img column2"
	"column1 img column2"
	"pie pie pie";
}
	  
.column1, .column2{
	@extend %displayFlex;
	@extend %espacios;

    p{
	    animation-name: Animac;
	    animation-duration: 6s;
    }
}
 

@keyframes Animac{
	from{ color: white; }
	to{ color: black; }
}