%displayFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

%espacios{
    margin: 2vh;
    padding: 2vh;
}

%posicionBg{
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}